<mat-sidenav-container id="sidenavcontainer">
        <mat-sidenav
         class="col-lg-3 col-8"
         #sidenav [mode]="over" 
         id="sidenav">
         <mat-list role="list">
                <mat-list-item role="listitem">Men&ugrave;</mat-list-item>
                <mat-list-item class="actionlistitem" role="listitem">Impostazioni</mat-list-item>
                <mat-list-item class="actionlistitem" role="listitem">Contattaci</mat-list-item>
              </mat-list>
        </mat-sidenav>
        <mat-sidenav-content>
                <mat-toolbar color="primary">
                        <button mat-icon-button  aria-label="Example icon-button with a menu" (click)="sidenav.toggle()"   >
                            <mat-icon id="menuicon"  >menu</mat-icon>
                        </button>
                        <a  class="actionlistitem"  routerLink="/list" routerLinkActive="active">Anemone Demo</a>
                    </mat-toolbar>
                <router-outlet></router-outlet>
        </mat-sidenav-content>
</mat-sidenav-container>

